In [1]:
a = ["a", "b", "c"]
print(a)

['a', 'b', 'c']

In [2]:
a_dict = {"name": "Tobi", "age": 40, "credit_score":300}
print(a_dict)

{'name': 'Tobi', 'age': 40, 'credit_score': 300}

In [22]:
for a, b in a_dict.items():
    print(f"{a} ==> {b}")

name ==> Tobi
age ==> 40
credit_score ==> 300
marital_status ==> married

In [6]:
new_dict = [{"name": "emma", "age": 10}, {"name": "kate,", "age": 20}]
print(new_dict)

[{'name': 'emma', 'age': 10}, {'name': 'kate,', 'age': 20}]

In [7]:
a_dict["marital_status"] = "married"
print(a_dict)

{'name': 'Tobi', 'age': 40, 'credit_score': 300, 'marital_status': 'married'}

In [8]:
new_dict

[{'name': 'emma', 'age': 10}, {'name': 'kate,', 'age': 20}]

In [9]:
for i in new_dict:
    print(i)

{'name': 'emma', 'age': 10}
{'name': 'kate,', 'age': 20}

In [12]:
for i in new_dict:
    i["marital_status"] = "married"
print(new_dict)

[{'name': 'emma', 'age': 10, 'marital_status': 'married'}, {'name': 'kate,', 'age': 20, 'marital_status': 'married'}]

In [14]:
class_results = {"name": ["jake", "fabian", "matthew"],
                 "score": [20, 30, 25],
                 "age": [15, 8, 10]}
print(class_results)

{'name': ['jake', 'fabian', 'matthew'], 'score': [20, 30, 25], 'age': [15, 8, 10]}

In [1]:
work_entry = [{"name": "dami", "sales":400}, {"name":"kuro", "sales":320}, {"name": "tobi", "sales": 405}]
print(work_entry)

[{'name': 'dami', 'sales': 400}, {'name': 'kuro', 'sales': 320}, {'name': 'tobi', 'sales': 405}]

In [2]:
for i in work_entry:
    i["salary"] = 1000
    
print(work_entry)

[{'name': 'dami', 'sales': 400, 'salary': 1000}, {'name': 'kuro', 'sales': 320, 'salary': 1000}, {'name': 'tobi', 'sales': 405, 'salary': 1000}]

In [3]:
for k in work_entry:
    print(k)

{'name': 'dami', 'sales': 400, 'salary': 1000}
{'name': 'kuro', 'sales': 320, 'salary': 1000}
{'name': 'tobi', 'sales': 405, 'salary': 1000}

In [4]:
for k in work_entry:
    if k["sales"] >= 400:
        print(k)

{'name': 'dami', 'sales': 400, 'salary': 1000}
{'name': 'tobi', 'sales': 405, 'salary': 1000}

In [6]:
for k in work_entry:
    for a, b in k.items():
        if k["sales"] >= 400:
            k["salary"] = k["salary"] * 0.10 + k["salary"]
print(work_entry)

[{'name': 'dami', 'sales': 400, 'salary': 1.331e+17}, {'name': 'kuro', 'sales': 320, 'salary': 1000}, {'name': 'tobi', 'sales': 405, 'salary': 1.331e+17}]

In [8]:
for i in work_entry:
    for a, b in i.items():
        b_vals = str(b)
        if "a" in b_vals:
            print(i)

{'name': 'dami', 'sales': 400, 'salary': 1.331e+17}

In [11]:
for i in work_entry:
    name_vals = i["name"]
    if "a" in name_vals:
            print(i)
 #           print(i["name"])

{'name': 'dami', 'sales': 400, 'salary': 1.331e+17}
dami

In [16]:
import pandas as pd
res = pd.DataFrame(class_results)
res

      name  score  age
0     jake     20   15
1   fabian     30    8
2  matthew     25   10

In [20]:
import math as m
a = 50
m.cos(a)

0.9649660284921133

In [26]:
array = [12, 9, "tami", 9, "tami","tami", "tami", "jonathan", 12, 12, 12, "tami", "tami"]
print(array)

[12, 9, 'tami', 9, 'tami', 'tami', 'tami', 'jonathan', 12, 12, 12, 'tami', 'tami']

In [27]:
hash_tab = {}

for i in array:
    hash_tab[i] = hash_tab.get(i, 0) + 1
print(hash_tab)

{12: 4, 9: 2, 'tami': 6, 'jonathan': 1}

In [28]:
print(hash_tab)

{12: 4, 9: 2, 'tami': 6, 'jonathan': 1}

In [29]:
high_tab = []
for a, b in hash_tab.items():
    high_tab.append(b)
print(high_tab)

[4, 2, 6, 1]

In [30]:
a_max = high_tab[0]
for i in high_tab:
    if i > a_max:
         a_max = i
for k, n in hash_tab.items():
        if n == a_max:
            print(k)

tami