Funtions are re-usable block of codes

In [1]:
array = [2, 7, 10, 11]

sum_array = 0
for i in array:
    sum_array = i + sum_array
print(sum_array/len(array))

7.5

In [6]:
def mean_array(array):
    sum_array = 0
    for i in array:
        sum_array = i + sum_array
    print(sum_array/len(array))

In [7]:
t = [1, 2, 5]
a = [6, 4, 1]
b = [9, 8, 11]

In [8]:
mean_array(t)

2.6666666666666665

In [9]:
mean_array(a)

3.6666666666666665

In [10]:
mean_array(b)

9.333333333333334

In [ ]:
#y(x, p) = 2x + 5p + 10

In [12]:
def y(x, p):
    b = 2*(x) + 5*(p) + 10
    print(b)

In [14]:
a = 10
b = 11

In [15]:
x = y(a, b)
print(x)

85
None

In [16]:
def y(x, p):
    b = 2*(x) + 5*(p) + 10
    return b
x = y(a, b)
print(x)

85

In [ ]:
#total income = 100

In [20]:
def simple_interest(p, r, t):
    s_i = (p*r*t)/100
    return s_i

interest = simple_interest(10, 0.5, 2.5)
print(interest)

0.125

In [21]:
p = [10, 20, 15, 40]
r = [0.12, 0.56, 0.77, 0.3]
t = [1.5, 2.5, 3, 1.1]

In [23]:
def simple_interest(p, r, t):
    s_i = (p*r*t)/100
    return s_i

interest_array = []
for i in range(0, len(p)):
    interest = simple_interest(p[i], r[i], t[i])
    interest_array.append(interest)
print(interest_array)

[0.018, 0.28, 0.34650000000000003, 0.132]

In [25]:
def simple_interest(p, r, t):
    s_i = (p*r*t)/100
    return s_i

def int_simple(p,r,t):
    interest_array = []
    for i in range(0, len(p)):
        interest = simple_interest(p[i], r[i], t[i])
        interest_array.append(interest)
    return interest_array

p = [10, 20, 15, 40]
r = [0.12, 0.56, 0.77, 0.3]
t = [1.5, 2.5, 3, 1.1]

a = int_simple(p, r, t)
print(a)

[0.018, 0.28, 0.34650000000000003, 0.132]

In [26]:
#force = mass * velocity
#velocity = distance/time

#d = 10
#time = 2.5
#mass = 20

def vel(d, t):
    vel = d/t
    return vel

def acc(vel, t):
    a = vel/t
    return a

def force(m,a):
    f = m * a
    return f

velocity = vel(10, 2.5)
#print(velocity)
acceleration = acc(velocity, 2.5)
#print(acceleration)
f= force(20, acceleration)
print(f)

32.0

In [32]:
array = ["ch", "ch", 2, 5, 10, "ch"]
for i in array:
    if i == "ch":
        print(array.index(i))

0
0
0

In [33]:
a = [1, 2]
print(a[0])

1

In [ ]:
#tuple

In [34]:
for i in enumerate(array):
    print(i[1])

ch
ch
2
5
10
ch

In [37]:
list_array = []
for i in enumerate(array):
    if i[1] == "ch":
        list_array.append(i[0])

In [38]:
list_array

[0, 1, 5]

In [1]:
data = [["alphabet", "number", "sex"], ["a", "b", "c"], [10, 15, 20], ["m", "f", "m"]]
print(data)

[['alphabet', 'number', 'sex'], ['a', 'b', 'c'], [10, 15, 20], ['m', 'f', 'm']]

In [2]:
def input_col():
    col = input('enter column value: ')
    return col

def get_col_index(col, data):
    for i in enumerate(data[0]):
        if col in i:
            pos = i[0]
    return pos
    
def get_pos(pos, data):
    array = []
    for i in data[1:]:
        pos_val = i[pos]
        array.append(pos_val)
    return array

data = [["alphabet", "number", "sex"], ["a", "b", "c"], [10, 15, 20], ["m", "f", "m"]]
inp_col = input_col()
print(inp_col)
col_name = get_col_index(inp_col, data)
print(col_name)
val_position = get_pos(col_name, data)
print(val_position)

enter column value: number
number
1
['b', 15, 'f']

In [3]:
for i in data[1:]:
    print(i[0])

a
10
m

In [4]:
for i in data:
    print(i)

['alphabet', 'number', 'sex']
['a', 'b', 'c']
[10, 15, 20]
['m', 'f', 'm']

In [5]:
import pandas as pd

In [8]:
df = pd.DataFrame(data[1:])
df.columns = data[0]

In [9]:
df

  alphabet number sex
0        a      b   c
1       10     15  20
2        m      f   m